/*
===================================
 Admin Style 
===================================
*/

/*
 ==================================
     	Admin Style 
 ==================================
*/

.container {
	margin: 0 auto;
	width: 785px;
	position: relative;
	z-index: 0;
}

.framework-general-form {
	display: inline-block;
}

.customCss { 
	position: relative; 
	width: 500px; 
	height: 400px;
	top: 30px;
	right: 220px;
	margin: 15px 0; 
}